<div class="well">

    <!-- Modal de confirmação-->
    <script type="text/ng-template" id="modalConfirmacao.html">
        <div class="modal-header">
            <h4 align="center" class="modal-title">Confirmação:</h4>
        </div>
        <div align="center" class="modal-body">
            <p>Deseja remover a Editora?</p>
        </div>
        <div class="modal-footer">
            <button id="delete" class="btn btn-warning" ng-click="delete()"><span class="fa fa-check"></span> Sim</button>
            <button class="btn btn-default" ng-click="cancelModal()"><span class="fa fa-times"></span> Cancelar</button>
        </div>
    </script>

    <!-- Título da Página-->
    <legend>
        <h1 class="font-style">
            <i class="fa fa-pencil"></i> Detalhe da Editora
            <div class="pull-right">
                <a type="button" class="btn btn-primary" href="#/publishers/edit/{{publisher.id}}">
                    <span class="fa fa-refresh"></span> Editar
                </a>
                <button type="button" class="btn btn-warning" ng-click="open('sm')">
                    <span class="fa fa-trash"></span> Remover
                </button>
                <a class="btn btn-default" href="#/publishers">
                    <span class="fa fa-arrow-left"></span> Voltar
                </a>
            </div>
        </h1>
    </legend>

    <form ng-init="init()">
        <div class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Nome</label>
            <p class="display-block margin-left-027em">{{publisher.name}}</p>
        </div>
        <div data-ng-show="publisher.street" class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Rua</label>
            <p class="display-block margin-left-027em">{{publisher.street}}</p>
        </div>
        <div data-ng-show="publisher.number" class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Número</label>
            <p class="display-block margin-left-027em">{{publisher.number}}</p>
        </div>
        <div data-ng-show="publisher.neighborhood" class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Bairro</label>
            <p class="display-block margin-left-027em">{{publisher.neighborhood}}</p>
        </div>
        <div data-ng-show="publisher.zip" class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Zip/CEP</label>
            <p class="display-block margin-left-027em">{{publisher.zip}}</p>
        </div>
        <div data-ng-show="publisher.city" class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Cidade</label>
            <p class="display-block margin-left-027em">{{publisher.city}}</p>
        </div>
        <div data-ng-show="publisher.state" class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Estado</label>
            <p class="display-block margin-left-027em">{{publisher.state}}</p>
        </div>
        <div data-ng-show="publisher.phone" class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Telefone</label>
            <p class="display-block margin-left-027em">{{publisher.phone}}</p>
        </div>
        <div data-ng-show="publisher.fax" class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Fax</label>
            <p class="display-block margin-left-027em">{{publisher.fax}}</p>
        </div>
    </form>
</div>